<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.zj.example.colorfilter"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ColorMatrixColorFilterDemo"/>

        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LightColorFilterDemo"/>
        <activity android:name=".PorterDuff.PorterDuffColorFilter.PorterDuffColorFilterDemo1"/>
        <activity android:name=".PorterDuff.PorterDuffXfermode.PorterDuffXfermodeDemo1"/>
        <activity android:name=".PorterDuff.PorterDuffXfermode.PorterDuffXfermodeDemo2"/>
    </application>

</manifest>
